In [177]:
import pandas as pd
path = './Time Table.html'
table_MN = pd.read_html(path)

In [178]:
print(f'Total tables: {len(table_MN)}')

Total tables: 3

In [179]:
df = table_MN[2]
df.head(6)

,0,1,2,3,4,5,6,7,8,9
0,Day Name,8:0:AM-8:55:AM,9:0:AM-9:55:AM,10:0:AM-10:55:AM,11:0:AM-11:55:AM,12:0:PM-12:55:PM,2:0:PM-2:55:PM,3:0:PM-3:55:PM,4:0:PM-4:55:PM,5:0:PM-5:55:PM
1,Mon,MA20202NR111,MA20202NR111,CH21208NC311,NaN,CH21202NC311,NaN,NaN,NaN,NaN
2,Tue,NaN,NaN,CH21202NC311,CH21202NC311,MA20202NR111,CH29202NC421,CH29202NC421,CH29202NC421,NaN
3,Wed,CH21208NC311,CH21208NC311,CH21204NC311,NaN,CH21206NC311,NaN,NaN,NaN,NaN
4,Thur,CH21202NC311,CH21204NC311,CH21208NC311,CH21206NC311,NaN,NaN,NaN,NaN,NaN
5,Fri,NaN,CH21206NC311,CH21206NC311,CH21204NC311,CH21204NC311,CH29202NC421,CH29202NC421,CH29202NC421,NaN

In [180]:
from openpyxl import Workbook
wb = Workbook()

In [181]:
df.to_excel(excel_writer = "./timetable.xlsx",sheet_name='timetable',header=False,index = False)

In [182]:
from openpyxl import load_workbook
from openpyxl.utils import get_column_letter
wb = load_workbook(filename = 'timetable.xlsx')
sheet = wb.active

for i in range (1,7):
    sheet.row_dimensions[i].height = 40

sheet.column_dimensions['A'].width = 7
for i in range (2,11):
    sheet.column_dimensions[get_column_letter(i)].width = 20

wb.save('timetable.xlsx')

In [183]:
from openpyxl.styles import Alignment, Border, Side, Font, PatternFill
from openpyxl import load_workbook
wb = load_workbook(filename='timetable.xlsx')
ws = wb.active

ft1 = Font(name='ubuntu',
           size=12,
           bold=False,
           italic=False,
           vertAlign=None,
           underline='none',
           strike=False,
           color='00000000')
ft2 = Font(name='Roboto',
           size=15,
           bold=False,
           italic=False,
           vertAlign=None,
           underline='none',
           strike=False,
           color='000000FF')
bd = Border(left=Side(border_style='medium', color='00000000'),
            right=Side(border_style='medium', color='00000000'),
            top=Side(border_style='medium', color='00000000'),
            bottom=Side(border_style='medium', color='00000000'),
            diagonal=Side(border_style='medium', color='00000000'),
            diagonal_direction=0,
            outline=Side(border_style='medium', color='00000000'),
            vertical=Side(border_style='medium', color='00000000'),
            horizontal=Side(border_style='medium', color='00000000')
            )
grayfill = PatternFill(start_color='00D9D9D9',
                       end_color='00D9D9D9',
                       fill_type='solid')
align = Alignment(horizontal='center',
                  vertical='center',
                  text_rotation=0,
                  wrap_text=True,
                  shrink_to_fit=False,
                  indent=0)

for i in range(1, 7):
    for j in range(1, 11):
        cell = ws.cell(row=i, column=j)
        cell.font = ft1
        cell.border = bd
        cell.alignment = align
for cell in ws["1:1"]:
    cell.font = ft2
    cell.fill = grayfill
for cell in ws["A:A"]:
    cell.font = ft2
    cell.fill = grayfill

ws['A1'].value = None
wb.save('timetable.xlsx')

In [184]:
from openpyxl.styles import Alignment, Border, Side, Font, PatternFill
from openpyxl import load_workbook
wb = load_workbook(filename='timetable.xlsx')
ws = wb.active

for i in range(2, 7):
    print('\n')
    for j in range(2, 11):
        cell = ws.cell(row=i, column=j)
        if cell.value != None: 
            data = cell.value
            cell.value = data[slice(7)]
            print(cell.value, end=" ")
wb.save('timetable.xlsx')

MA20202 MA20202 CH21208 CH21202

CH21202 CH21202 MA20202 CH29202 CH29202 CH29202

CH21208 CH21208 CH21204 CH21206

CH21202 CH21204 CH21208 CH21206

CH21206 CH21206 CH21204 CH21204 CH29202 CH29202 CH29202